#Основные библиотеки для работы с данными
matplotlib==3.7.1
matplotlib-inline==0.1.6
numpy==1.24.3
numpydoc==1.5.0
pandas==1.5.3
scikit-learn==1.6.1
scikit-learn-intelex==2023.1.1
seaborn==0.12.2
optuna==4.7.0

# Специальные библиотеки
joblib==1.2.0
phik==0.12.5"""